.breadcrumb {
  padding-right: 0px;
  padding-left: 0px;
  li {
    color: #6d839c;
    font-weight: bold;
    &.active {
      color: #6d839c;
    }
  }
  li:first-child {
    a {
      color: white;
      font-weight: normal;
      background: #1c63a0;
      padding: 5px;
      padding-right: 8px;
      border-radius: 4px;
      position: relative;
      //border-bottom-right-radius: 0px;
      //border-top-right-radius: 0px;
    }
  }
  .fa-angle-double-left {
    //font-size: 20px;
    margin-right: 10px;
  }
}
.breadcrumb > li + li:before {
  opacity: 0;
  padding: 0px;
}